MY_API_KEY=MY_API_KEY

# InfluxDB Configuration
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=your_super_secret_token
INFLUX_ORG=my_org
INFLUX_BUCKET=my_bucket

# discord
DISCORD_WEBHOOK=https://discord.com/api/webhooks/....